.topbarContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}

.maindiv {
    border-radius: 10px;
    text-align: -webkit-center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    width: 100%;
    height: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 5vh;
}

.subdiv {
    background-color: grey;
    width: 40%;
    background-color: rgba(255,255,255,0.5);
    -webkit-text-stroke-width: thin;
    border-radius: 10px;
    height: 108%;
}

.bottomData {
    padding-top: 4vh;
    margin-top: 0vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
}

.cityP {
    font-size: 4vh;
    margin-top: 3%;
}

.pData {
    margin-top: -4vh;
}

@media only screen and (max-width: 750px) {
    .bottomData {
        padding-top: 4vh;
        margin-top: 0vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .cityP {
        font-size: 3vh;
        margin-top: 3%;
    }

    .subdiv {
        width: 94%;
    }
}

